/*
* tf.css v0.3
* Copyright 2018, Tomislav Kucar
* Free to use under the MIT license.
* http://github.com/frainfreeze/tf-css

Table of contents
- Typography
- Buttons
- Forms
- Lists
- Tables
- Code
- Navigation
- Grid
- Utilities
*/

@import url('https://fonts.googleapis.com/css?family=Raleway');

/* Typography */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 200; 
    font-family: 'Raleway', sans-serif;
}

h1 { font-size: 3.6rem; }
h2 { font-size: 3.0rem; }
h3 { font-size: 2.4rem; }
h4 { font-size: 1.8rem; }
h5 { font-size: 1.5rem; }
h6 { font-size: 1rem; }

p, a { font-family: 'Raleway', sans-serif; }
a { color: dodgerblue }

.subtle { font-size: 1.2rem; color: #999; letter-spacing: normal; }



/* Buttons */
.button, .button-shadow {
    border: 1px solid #ccc !important;
    background-color: #fcfcfc;
    border-radius: 5px;
    color: black;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-blue, .button-blue-shadow {
    background-color: #33c3f0;
    border-radius: 5px;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-shadow:hover, .button-blue-shadow:hover{
    box-shadow: 0 0 6px rgba(35, 173, 278, 1);
}

.button:hover {
    color: #000 !important;
    background-color: #ccc !important;
}

.button-blue:hover {
    background-color: #1aa1ca;
    color: white;
}

.button-disabled, .button-blue-disabled {
    opacity: 0.5;
    border-radius: 5px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: not-allowed;
}

.button-disabled {
    border: 1px solid #ccc !important;
    background-color: #ccc !important;
    color: #000 !important;
}

.button-blue-disabled {
    background-color: #1aa1ca;
    color: #fff !important;
}



/* Forms */
form {
    font-family: 'Raleway', sans-serif; 
    font-size: 90%;
}


/* Lists */
ul { list-style: circle inside; }
ol { list-style: decimal inside; }

ol, ul {
    padding-left: 0; margin-top: 0; 
}

ul ul,  ul ol,  ol ol,  ol ul {
    margin: 0 0 0 3rem; font-size: 90%; 
}

li { font-family: 'Raleway', sans-serif; }



/* Tables */
table {border-collapse: collapse;width: 100%;}
th, td {padding: 8px; text-align: left;}
th {border-bottom: 2px solid #ddd;}
td {border-bottom: .5px solid #ddd;font-family: 'Raleway', sans-serif;}
tr:hover {background-color:#f5f5f5;}



/* Code */
pre, code {
    font-family: monospace, monospace;
    font-size: 85%;
}

pre {
    border-radius: 8px;
    border: 1.5px solid #ddd;
    overflow: auto;
}

pre > code {
    display: block;
    padding-left: 1rem;
    word-wrap: normal;
}



/* navigation */
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #fff;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover:not(.active) {
    background-color: #ddd;
}

.nav li a.active {
    color: 000;
    background-color: #fff;
}

@media screen and (max-width: 600px){
  .nav li {float: none;}
}


/* grid */
.row {
  clear: both;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row > div {
  margin: 0.5208333333333334% 1.0416666666666667%;
  float: left;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row .col-0 {
  display: none;
}
.row .col-1 {
  width: 6.25%;
}
.row .col-2 {
  width: 14.583333333333334%;
}
.row .col-3 {
  width: 22.916666666666668%;
}
.row .col-4 {
  width: 31.250000000000004%;
}
.row .col-5 {
  width: 39.583333333333336%;
}
.row .col-6 {
  width: 47.91666666666667%;
}
.row .col-7 {
  width: 56.25000000000001%;
}
.row .col-8 {
  width: 64.58333333333334%;
}
.row .col-9 {
  width: 72.91666666666667%;
}
.row .col-10 {
  width: 81.25%;
}
.row .col-11 {
  width: 89.58333333333334%;
}
.row .col-12 {
  width: 97.91666666666667%;
}
.container {
  width: 960px;
  margin: auto;
}
@media only screen and (max-width: 960px) {
  .container {
    width: 100%;
  }
}


/* Utilities */
.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 20vh;
}  

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc; 
    margin: 1em 0;
    padding: 0;
}